{% extends "base.html" %}

{% block title %}
    Tutor Corso Competitive Programming
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='calendario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<div class="container">
    <h1 class="title">Tutor Corso Competitive Programming</h1>

    <!-- Descrizione aggiunta -->
    <p class="description">
        
    </p>

    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Lezione</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Ruolo</th>
                </tr>
            </thead>
            <tbody>
                {% for element in result %}
                <tr>
                    <td>{{ element[0] }}</td>
                    <td>{{ element[1] }}</td>
                    <td>{{ element[2] }}</td>
                    <td>{{ element[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
