<html>
    <head>
        <title>
            {% block title %}
       
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('calendario') }}">Calendario</a>
            <a href="{{ url_for('elencotutor') }}">Elenco tutor</a>
            <a href="{{ url_for('formselzioneargomentitutor') }}">Argomenti spiegati da un tutor</a>
        </div>
        

        <!-- Contenuto principale -->
        {% block content %}
        {% endblock %}
    </body>
</html>
